recursive-include cmsplugin_yandex_maps/templates *
recursive-include cmsplugin_yandex_maps/static *
recursive-include cmsplugin_yandex_maps/locale *
recursive-include cmsplugin_yandex_maps/fixtures *
